/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.content .intro {
  height:200px;
  overflow: hidden;
}

/* Override carousel h1 height to make it look good on mobile devices */
@media (max-width: 991px) {
  .home-carousel h1 {
    height: 200px;
  }
}
