/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.content .intro {
  height:200px;
  overflow: hidden;
}

.author-attribution {
  opacity: .6;
}

.author-attribution a {
  color: inherit;
}

ul.contact-page-social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-page-social li {
  list-style: none; 
  line-height: 30px;
}

.contact-page-social i {
  padding: 0px 5px 0px 0px;
  margin: 0px 5px;
}

.contact-page-social a {
  font-weight: 600;
  color: inherit;
}

/* Override carousel h1 height to make it look good on mobile devices */
@media (max-width: 991px) {
  .home-carousel h1 {
    height: 250px;
  }

  .home-carousel img {
    padding:0px 5px;
  }
}